//THEME

* {
  background-color: rgb(62, 61, 61);
}

// DATE TIME INPUT
.date-time-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;

  input {
    color: white;
  }
}

.price-table {
  width: 50%;
  td {
    border: 1px solid white;
  }
}
